@using System.Collections
@using FAQ

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}




@if (Model.Content.HasProperty("faqlisting") && Model.Content.HasValue("faqlisting"))
{
    var category = Request.QueryString["category"];

    var questions = !string.IsNullOrEmpty(category) ? Model.Content.GetPropertyValue<FAQListing>("faqlisting").Items.Where(x => x.Categories.Any(y => y.Contains(category))) : Model.Content.GetPropertyValue<FAQListing>("faqlisting").Items;

    if (questions.Any())
    {
        var count = questions.Count();
        if (count > 1)
        {
            <p>There are @count questions that match your query.</p>
            <p><a href="/faq">See all FAQ's</a></p>

        }
        else
        {
            <p>There is 1 question that matches your query.</p>
            <p><a href="/faq">See all FAQ's</a></p>
        }

        <ul>
            @foreach (var q in questions)
            {
                <li>
                    <h3>@q.Question</h3>
                    @q.Answer
                    <p>
                        Categories:
                        @foreach (var cat in q.Categories)
                        {
                            if (cat != q.Categories.FirstOrDefault())
                            {
                                @MvcHtmlString.Create(string.Format(", <a href=\"?category={0}\">{1}</a>", cat, cat))
                            }
                            else
                            {
                                <a href="?category=@Html.Encode(cat)">@cat</a>
                            }
                        }
                    </p>
                </li>
            }
        </ul>
    }
}